package ${package.Service};

import ${package.Entity}.${entity};
import com.joint.pojo.bo.PageBO;
import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName}{
    List<${entity}> getList(PageBO pageBO);
}
